.Card-details {
    text-align: center;
    background-color: #0d1427;
    background-repeat: repeat;
    color: rgb(255, 255, 255);
    font-family: "Poiret One", cursive;
    
  }

  .Card-con {
    width: 300px;
    justify-content: center;
    font-weight: 600;
    margin: 0 auto;
    list-style-type: none;

  }
  