.Home {
  text-align: center;
  background-image: url("/src/media/retro_bg.jpg");
  background-color: #0d1427;
  background-repeat: repeat;
  color: white;
  font-family: "Poiret One", cursive;
}

.main-container {
  background-color: #0d1427;
  /* border: 1px solid goldenrod; */
  height: fit-content;
  margin: 25px;
}

.footer-container {
  background-color: #0d1427;
  height: fit-content;
  margin: 0 25px 0 25px;
  padding: 10px;
}

.footer-container p {
  width: 100%;
  padding: 15px;
  justify-content: center;
  font-weight: 600;
  margin: 0 auto;
  font-size: 1.2rem;
}

.cards-section {
  display: flex;
  flex-wrap: wrap;
}
.results-section {
  background-color: #0d1427;
}

.map-tabs {
  display: block;
}

.filters-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-style: double;
  border-left: none;
  border-right: none;
  border-color: goldenrod;
  font-size: 1.5rem;
}

.filters-container label {
  width: 200px;
  font-size: 1.1rem;
  font-weight: 900;
  padding: 20px;
}

.filters-container select {
  font-family: inherit;
  font-weight: 900;
  padding: 10px;
  margin: 5px;
  font-size: 1rem;
  text-align: center;
}
/* 
.img-placeholder  {
  height: 500px;
} */
